<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweets App</title>
</head>

<body>
    <h1>Tweets</h1>
    <ul>
        <% if(Object.keys(tweets).length === 0) { %>
            No tweets
            <% } else { %>

                <% for(let tweet of tweets){ %>
                    <li>
                        <article>
                            <%= tweet.username %> -
                                <%= tweet.tweet %> <span><a href="/tweets/<%= tweet._id %>"><button>See more details?</button></a> <a href="/tweets/<%= tweet._id %>/edit"><button>Edit</button></a>
                                    <form method="POST" action="/tweets/<%= tweet.id %>?_method=DELETE">
                                        <button type="submit">Delete</button>
                                    </form></span>
                        </article>
                    </li>
                    <% } %>
                        <% } %>
    </ul>
    <a href="/tweets/new">New Tweet</a>
</body>

</html>